---
import panda from '../../assets/icons/panda-image.png'
import internet from '../../assets/icons/icons8-internet-100-1.png';
import js from '../../assets/icons/icons8-javascript-150-2.png';
import css from '../../assets/icons/icons8-css3-150-3.png';
import cursor from '../../assets/icons/icons8-cursor-in-window-100-4.png';
import react from '../../assets/icons/icons8-react-native-150-5.png';
import display from '../../assets/icons/icons8-pro-display-xdr-100-6.png';
import html from '../../assets/icons/icons8-html-5-150-7.png';
---


<section class="principal-section">
  <h1>The agency you've been looking for</h1>
  <div class="btn-main">
    <a href="#"
      >Speak to Our Team Today <span>Schedule Your FREE Audit Call Now</span></a
    >
  </div>
  <div class="container-main-image">
    <div class="images-main">
      <img
        class="panda-image"
        src={panda}
        alt="Panda Image"
      />
      <img
        class="icon-image icon-1"
        src={internet}
        alt="Icon"
      />
      <img
        class="icon-image icon-2"
        src={js}
        alt="Icon"
      />
      <img
        class="icon-image icon-3"
        src={css}
        alt="Icon"
      />
      <img
        class="icon-image icon-4"
        src={cursor}
        alt="Icon"
      />
      <img
        class="icon-image icon-5"
        src={react}
        alt="Icon"
      />
      <img
        class="icon-image icon-6"
        src={display}
        alt="Icon"
      />
      <img
        class="icon-image icon-7"
        src={html}
        alt="Icon"
      />
    </div>
  </div>
</section>
