---
import im1 from "../../assets/imgs/image-project-one.png";
import im2 from "../../assets/imgs/image-project--eight.png";
import im3 from "../../assets/imgs/image-project-three.png";
import im4 from "../../assets/imgs/image-project-four.png";
import im5 from "../../assets/imgs/image-project--nine.png";
import im6 from "../../assets/imgs/image-project-six.png";
import im7 from "../../assets/imgs/image-project--ten.png"
---



<section class="offer-section">
  <div class="main-txt">
    <span>What we offer..</span>
    <h2>Web Development</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis.
    </p>
    <div class="check-marks">
      <div>
        <i></i><span> Web Design</span>
      </div>
      <div>
        <i></i><span>Web Development</span>
      </div>
    </div>
  </div>
  <div class="container-images">
    <img
      class="image-one"
      src={im1}
      alt="Image One"
    />
    <img
      class="image-two"
      src={im2}
      alt="Image two"
    />
    <img
      class="image-three"
      src={im3}
      alt="Image Three"
    />
    <img
      class="image-four"
      src={im4}
      alt="Image Four"
    />
    <img
      class="image-five"
      src={im5}
      alt="Image Five"
    />
    <img
      class="image-six"
      src={im6}
      alt="Image Six"
    />
    <img
      class="image-seven"
      src={im7}
      alt="Image Seven"
    />
  </div>
</section>
